body{
    margin: 0  ;
    padding: 0;
    background-color: #f3f4f6;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
 h1{
    font-size: 2.25rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1rem;

 }
 p{
    text-align: center;
    color: #4b5563;
    margin-bottom: 1.25rem;
    font-size: 1.2rem;
 }
 label{
    display: block;
    color: #4b5563;
    margin-bottom: 0.25rem;
    font-size: 1.2rem;
 }
 input{
    width: 100%;
    max-width: 30rem;
    padding: 0.75rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    outline: none;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    transition: border-color 0.3s;
 }
 input:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 28rem;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    font-size: 1.125rem;
}
.button:hover{
    background-color:#f3f4f6 ;
}
button i{
    margin-right: 0.5rem;
    font-size: 1.5rem;
}
.generate-button{
    width: 100%;
    max-width: 28rem;
    background-color: black;
    color: #ffffff;
    padding: 0.75rem 0;
    border-radius: 0.5rem;
    text-align: center;
    justify-content: center;
    font-size: 1.125rem;
    transition: background-color 0.3s;
}

.generate-button:hover{
    background-color: #1f2937;
}
.text-pink-500 {
    color: #E1306C;
}
.text-blue-500 {
    color: #1DA1F2;
}
.text-blue-700 {
    color: #1877F2;
}
.text-blue-400 {
    color: #0088CC;
}
.text-green-500 {
    color: #25D366;
}
.text-red-500 {
    color: #DB4437;
}


@media (max-width: 640px) {
    h1 {
        font-size: 1.875rem;
    }
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }
}